# Blacklist everything at top-level
/*

# whitelist the .gitignore's, .gitmodule's, and READMEs
!.gitignore
!.gitmodules
!README.md
!LICENSE

# whitelist expected folders and files
!/docs/

!/peta/

!/hw/
/hw/*
!/hw/*.tcl
!/hw/export/

